<label>Name</label>
<input type="text" name="name" value="<%= author.name %>">


<!-- name is attribute who response for those how server get this data in this case to get input value we have to call body.name -->